.announcement {
    width: 300px;
    height: 400px;
    border-radius: 2px;
    box-shadow: rgb(83, 83, 83) 1px 1px 1px 1px;
    margin: 20px;
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    align-content: center;
    background-color: white;
    transition: all 0.4s ease-in;
}
.announcement:hover{
    cursor: pointer;
    transform: scale(1.02);
    transition: transform 0.5s;
}


.title {
    text-align: center;
}

.picture {
    text-align: center;
    display: grid;
    justify-items: center;
    width: 280px;
    height: 275px;
}

.informations-row-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.picture img {
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 2px;
    max-width: 280px;
    max-height: 275px;
    margin: auto;
}