.announcement-container {
    padding-left: 2%;
    padding-right: 2%;
}
.announcement-top {
    height: 5rem;
    color: white;
    background-color: #4d4d4d;
    border-radius: 0.3rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.announcement-middle {
    display: grid;
    gap: 2rem;
    grid-template-columns: 0.75fr 0.8fr 0.9fr ;
    grid-template-rows: 270px 310px;
    grid-template-areas:
    "picture description description"
    "calendar form city"
}
.announcement-bottom {
    border-top: 1px solid gray;
    padding-top: 10px;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}
#title {
    padding: 10px;
    margin-left: 15px;
}
#price {
    padding: 10px;
    margin-right: 15px;
}
.announcement-picture-container {
    display: flex;
    justify-content: space-between;
    grid-area: picture;
    height: 100%;
    border-radius: 0.3rem;
    background-color: #f6f6f6;
}
.announcement-picture {
    height: 100%;
    width: 25rem;
    object-fit: contain;
    object-position: center;
}
.announcement-picture:hover{
    cursor: pointer;
}
.announcement-description {
    /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
    grid-area: description;
    background-color: #f4f4f4;
    border-radius: 0.3rem;
    overflow-wrap: break-word;
    height: 100%;
}
.owner-announcement-container {
    grid-area: owner;
}
.city-announcement-container {
    grid-area: city;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
    background-color: white;
    border-radius: 0.3rem;
}
.calendar-container {
    grid-area: calendar;
    border-radius: 0.3rem !important;
}
.choosing-date-form {
    grid-area: form;
    display: flex;
    justify-content: center;
    background-color: white;
    width: 25rem;
    align-items: center;
    border-radius: 0.3rem;
}
.announcement-reservations-table-container{
    background-color: white;
    grid-area: calendar / calendar / calendar / form;
    border-radius: 0.3rem;
}
.announcement-reservations-table {
    width: 95%;
    margin: 0 auto;
    overflow: scroll;
}
.announcement-options{
    flex-direction: column;
    justify-content: center;
    background-color: white;
    grid-area: city;
    border-radius: 0.3rem;
}
.announcement-options-buttons{
    margin: 1rem 0;
    width: 50%;
    background-color: #595959;
    color: white;
    padding: 0.6rem;
    border-radius: 0.25rem;
    border: none;
    text-decoration: none;
    text-align: center;
}
.announcement-options-buttons:hover{
    outline: 0.15rem solid #595959;
    background-color: white;
    color: black;
}
.publish-date {
    grid-area: date;
    display: flex;
}
.image-buttons {
    background-color: #f4f4f4;
    outline: none;
    border: none;
    width: 2.6rem;
}
.image-buttons:hover{
    background-color: white;
}
.image-buttons-previous{
    border-radius: 0.3rem 0 0 0.3rem;
}
.image-buttons-next{
    border-radius: 0 0.3rem 0.3rem 0;
}
.center {
    display: flex;
    justify-content: center;
}
label {
    font-weight: 500;
    margin-right: 5px;
}
.reservationDate {
    margin-left: 5px;
}
.reservation-price-container {
    /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
    margin-top: 15px;
    background-color: white;
    width: 15em;
    font-size: 20px;
    border-radius: 3px;
    text-align: center;
    height: 5em;
}
.reservation-button-container button{
    background-color: #595959;
    color: white;
    border-radius: 0.4rem;
    border: none;
    outline: none;
}
#link-to-user-page {
    text-decoration: none;
}
#reservation-price-paragraph {
    margin-top: 10px;
}
#reservation-price {
    margin: 10px;
}
#confirmation-info-label {
    font-weight: bold;
}


#announcement-picture-gallery-main-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
#announcement-picture-gallery-modal
{
    border-radius: 0.7rem !important;
    height: 80vh;
    width: 80vw;
    background-color: white;
}
.announcement-gallery-picture{
    height: 95%;
    object-fit: contain;
    object-position: center;
}

#announcement-page-map{
    width: 100%;
    height: 100%;
}
