.announcement-container {
    padding-left: 2%;
    padding-right: 2%;
}
.announcement-top {
    height: 60px;
    border-radius: 4px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}
.announcement-middle {
    display: grid;
    gap: 15px;
    grid-template-columns: 0.75fr 0.8fr 0.8fr ;
    grid-template-rows: 270px 310px;
    grid-template-areas:
    "picture description description"
    "calendar form city"
}
.announcement-bottom {
    border-top: 1px solid gray;
    padding-top: 10px;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}
#title {
    padding: 10px;
    margin-left: 15px;
}
#price {
    padding: 10px;
    margin-right: 15px;
}
.announcement-picture-container {
    grid-area: picture;
}
.announcement-picture {
    border-radius: 4px;
    max-width: 350px;
    max-height: 260px;
}
.announcement-description {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    grid-area: description;
    background-color: #f4f4f4;
    border-radius: 4px;
    height: 260px;
}
.description-text {
    margin: 1em;
}
.owner-announcement-container {
    grid-area: owner;
}
.city-announcement-container {
    grid-area: city;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    border-radius: 3px;
}
#localization-label {
    margin: 1em;
}
.calendar-container {
    grid-area: calendar;
}
.choosing-date-form {
    grid-area: form;
    display: flex;
    justify-content: center;
}
.publish-date {
    grid-area: date;
    display: flex;
}
.image-buttons {
    background-color: white;
    height: 260px
}
.center {
    display: flex;
    justify-content: center;
}
label {
    font-weight: 500;
    margin-right: 5px;
}
.reservationDate {
    margin-left: 5px;
}
.reservation-price-container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 15px;
    background-color: white;
    width: 15em;
    font-size: 20px;
    border-radius: 3px;
    text-align: center;
    height: 5em;
}
.reservation-button-container {
    margin-top: 15px;
}
#link-to-user-page {
    text-decoration: none;
}
#reservation-price-paragraph {
    margin-top: 10px;
}
#reservation-price {
    margin: 10px;
}
#confirmation-info-label {
    font-weight: bold;
}